.gallery {
  width: 100%;
  display: flex;
  flex-flow: wrap row;
  gap: 17px;
  justify-content: space-between;
}
.gallery__block {
  display: flex;
  flex-flow: column;
  width: 32%;
  overflow: hidden;
  border-radius: 10px;
}
.gallery__img {
  width: 100%;
  height: 282px;
}
.gallery__info {
  display: flex;
  flex-direction: row;
  background-color: #fff;
  padding: 25px 15px 31px 21px;
  justify-content: space-between;
  align-items: center;
}
.gallery__img-name {
  font-size: 24px;
  font-weight: 900;
  line-height: 1.21;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.gallery__like-button {
  width: 25px;
  height: 20px;
  background-image: url(/images/like-button.png);
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
}
.gallery__like-button:hover {
  opacity: 60%;
  transition: linear 0.2s;
}
.gallery__like-button_active {
  background-image: url(/images/like-active.png);
}
@media screen and (min-width: 320px) and (max-width: 425px) {
  .gallery {
    width: 282px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: auto;
  }
  .gallery__block {
    display: flex;
    flex-flow: column;
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
  }
  .gallery__info {
    display: flex;
    flex-direction: row;
    background-color: #fff;
    padding: 25px 15px 31px 21px;
    justify-content: space-between;
    align-items: center;
  }
}
